<mat-sidenav-container>
  <mat-sidenav mode="side" [opened]="true" [disableClose]="true">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" color="primary"/>
    <mat-nav-list *ngIf="(user$ | async); let user">
      <div *ngFor="let route of _routes; index as i">
        <a *ngIf="route.data!['show'] && !route.data!['loginRequired'] || route.data!['show'] && user.isLoggedIn"
           mat-list-item routerLink="/{{route.path}}">
          {{ route.title }}
        </a>
      </div>
    </mat-nav-list>
    <mat-divider/>
    <mat-nav-list *ngIf="(user$ | async); let user">
      <div>
        <a *ngIf="!user.isLoggedIn" mat-list-item routerLink="/login">Login</a>
        <a *ngIf="user.isLoggedIn" mat-list-item (click)="logout()">Logout</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
