<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="learn-aim-panel-title">
      <div>
        {{ learnAim.name }}
      </div>
      <div class="learn-aim-panel-title-stages">
        <mat-icon matTooltip="{{learnAim.exampleText}}" style="margin-right: 1em;">school</mat-icon>
        <span class="badge bg-{{firstStageColor}} me-1">Erklärt</span>
        <span class="badge bg-{{secondStageColor}} me-1">Geübt</span>
        <span class="badge bg-{{thirdStageColor}} me-1">Selbstständig</span>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  {{ learnAim.description }}
  <div style="margin-top: 0.5em">
    <mat-chip-set aria-label="tags">
      <mat-chip *ngFor="let t of learnAim.tags">{{ t.tagName }}</mat-chip>
    </mat-chip-set>
  </div>
  <app-learn-aim-check *ngFor="let lac of learnAim.checked" [learnAim]="learnAim" [learnAimCheck]="lac"/>
  <button *ngIf="canCrateNewCheck" mat-flat-button color="primary">Abschluss beantragen</button>
</mat-expansion-panel>
