<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title class="learn-aim-panel-title">
      <div>
        {{ learnAim.name }}
      </div>
      <div class="learn-aim-panel-title-stages">
        <mat-icon matTooltip="{{learnAim.exampleText}}" style="margin-right: 1em;">school</mat-icon>
        <mat-chip-set>
          <mat-chip *ngIf="isFirstStagePresent && isFirstStageApproved" class="stage-cleared">
            Erklärt
          </mat-chip>
          <mat-chip *ngIf="isFirstStagePresent && !isFirstStageApproved" class="stage-present">
            Erklärt
          </mat-chip>
          <mat-chip *ngIf="!isFirstStagePresent && !isFirstStageApproved">
            Erklärt
          </mat-chip>
          <mat-chip *ngIf="isSecondStagePresent && isSecondStageApproved" class="stage-cleared">
            Geübt a
          </mat-chip>
          <mat-chip *ngIf="isSecondStagePresent && !isSecondStageApproved" class="mat-warn" [color]="firstStageColor">
            Geübt b
          </mat-chip>
          <mat-chip *ngIf="!isSecondStagePresent && !isSecondStageApproved" class="test-class">
            Geübt c
          </mat-chip>
          <mat-chip>
            Selbstständig
          </mat-chip>
        </mat-chip-set>
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  {{ learnAim.description }}
  <div style="margin-top: 0.5em">
    <mat-chip-set aria-label="tags">
      <mat-chip *ngFor="let t of learnAim.tags">{{ t.tagName }}</mat-chip>
    </mat-chip-set>
  </div>
</mat-expansion-panel>
